$white: #ffffff;

$grey400: #bdbdbd;
$grey800: #484848;
$grey900: #212121;

$black: #000;

$golden: #b6862c;

$red800: #c62828;
$yellow800: #f9a825;
$green800: #2e7d32;

$main: $grey900;
$light: $grey800;
$dark: $black;
$accent: $golden;

$text: $white;
$textDark: $black;

$success: $green800;
$warning: $yellow800;
$error: $red800;
