@use 'src/styles/palette' as palette;

:local {
  .link {
    color: white;
    text-decoration: underline;

    &:hover {
      color: palette.$accent;
    }

    &:visited {
      color: palette.$grey400;

      &:hover {
        color: palette.$accent;
      }
    }
  }
}
